.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.contact-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.contact-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: linear-gradient(90deg, #00cfb1 0%, #96ffea 100%);
    z-index: 2;
}


.contact-info {
    padding: 1.5rem;
}

.contact-name {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.contact-number {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 1rem;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contact-site,
.contact-department{
    background-color: #f0f0f0;
    color: #555;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.contact-warfarinTrained {
    background-color: #ffd5e3;
    color: #ff5a78;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
