@media screen and (max-width: 1023px) {
    .navbar-menu {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 0;
    }

    .navbar-menu.is-active {
        max-height: 500px;
        opacity: 1;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }
}
